@page
@model RecruitCatYumy.Pages.Industries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Industries</h1>

<p>
    <a asp-page="Create">Create a New Industry</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Industry[0].IndustryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Industry[0].IndustryRegister)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Industry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IndustryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndustryRegister)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IndustryId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IndustryId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IndustryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
