@page
@model IS7012FinalProject_PackageTracking.Pages.Deliverers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Deliverer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deliverer.DelivererCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deliverer.DelivererCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deliverer.DelivererName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deliverer.DelivererName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deliverer.DateDelivered)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deliverer.DateDelivered)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deliverer.DeliveryStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deliverer.DeliveryStatus)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Deliverer.DelivererId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
